DB_USERNAME=postgres
DB_PASSWORD=postgres

AUTH_TOKEN_SECRET=troque-este-segredo
AUTH_TOKEN_EXPIRATION_HOURS=2

APP_BASE_URL=http://localhost:8080
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3000

MAIL_ENABLED=true
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=no-reply@sistema-escolar.local
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS=false
